.widgetRealTime{
    padding: 0 15px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0;
    width: 100%;
    height: 300px;
    display: block;
    z-index: 999;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    table{
        th, td {
            padding: 8px;
        }
        >thead{
            >tr{
                >th {
                    vertical-align: bottom;
                    border-bottom: 2px solid #ddd;
                    text-align: left;
                }
            }
        }
        >tbody{
            >tr{
                >td{
                    >a{
                        color: #660000;
                        font-size: 14px;
                    }
                    >span{
                        color: #ff0000;
                    }
                }
            }
        }
    }
}