.box-detail{
    display: flex;
    margin-bottom: 30px;
    >div{
        padding-right: 15px;
        padding-left: 15px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
    .b-audio{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        width: 33.33%;
        .media-wrap{
            a{
                img{
                    height: auto !important;
                    width: 100%;
                }
            }
        }
    }
    .b-text{
        flex: 0 0 42%;
        max-width: 42%;
        width: 42%;
        .video-intro{
            margin-bottom: 30px;
            >h1{
                font-size: 25px;
                text-transform: uppercase;
                margin-bottom: 10px;
                >a{
                    color: #4a4a4a;
                }
            }
            .video{
                width: 100%;
                height: 257px;
                border: 1px solid #333;
            }
            .attribute {
                padding-bottom: 20px;
                label{
                    font-weight: bold;
                }
                a{
                    color: #1E7AB8;
                }
            }
            .tag-book{
                >ul{
                    >li{
                        display: inline-block;
                        >a{
                            background: #ca4d4d;
                            border: 1px solid #932626;
                            margin-right: 5px;
                            padding: 5px 8px;
                            border-radius: 2px;
                            color: white;
                            font-size: 13px;
                            &:hover{
                                background: #932626;
                            }
                        }
                    }
                }
            }
        }
        .related-book{
            margin-bottom: 30px;
            >li{
                >a{
                    line-height: 28px;
                    padding-left: 5px;
                    color: #000;
                }
                &:before {
                    content: "\f18e";
                    font-family: 'FontAwesome';
                    color: #cb0903;
                }
            }
        }
    }
    .b-ads{
        flex-grow: 1;
    }
}

@media (max-width: 767px) {
    .box-detail{
        flex-direction: column;
        >div{
            padding-right: 0;
            padding-left: 0;
            margin-bottom: 15px;
        }
        .b-audio{
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            
        }
        .b-text{
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            
        }
    }
}