.box-related{
    margin-bottom: 30px;
    .header-item{
        margin-bottom: 10px;
        color: #4a4a4a;
        font-size: 18px;
    }
    .b-related{
        .related-carousel{
            a{
                color: #660000;
                >img {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }
            }
            .useronline {
                background: url(/images/useronline.gif) no-repeat 0 0 #fff;
                text-align: left;
                padding-left: 23px;
                margin: 10px 0 0px;
                >span {
                    color: red;
                    font-weight: bold;
                }
            }
            .p-name {
                margin: 5px 5px 15px 0;
                text-align: left;
            }
        }
        .owl-nav{
            margin-top: 0;
        }
    }
}