.homebox-title{
    border-bottom: 2px solid #ff8800;
    border-left: 2px solid #ff8800;
    padding-bottom: 2px;
    margin-bottom: 10px;
    .header-item {
        font-size: 14pt;
        font-weight: bold;
        line-height: 120%;
        padding-bottom: 3px;
        text-transform: uppercase;
        margin: 0 0 20px;
        padding-left: 50px;
        background: url(/images/header-icon.png) 3px 0px no-repeat transparent;
        margin-bottom: 0;
        display: inline;
    }
    .view-more {
        color: #ce6a00;
        text-transform: uppercase;
        display: block;
        float: right;
    }
}
@media (max-width: 767px) {
    .homebox-title{ 
        .view-more {
            display: none;
        }
    }
}