.box-books{
    .books{
        display: flex;
        flex-wrap: wrap;
        .book-item{
            flex: 1 1 25%;
            max-width: 25%;
            width: 100%;
            margin-bottom: 20px;
            padding-right: 15px;
            padding-left: 15px;
            &__wrap{
                box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
                >a{
                    >img{
                        max-width: 100%;
                        height: auto;
                    }
                }
                .p-name{
                    padding: 0 10px;
                    height: 125px;
                    >h4 {
                        margin: 8px 0 5px;
                        font-weight: bold;
                        >a{
                            color: #4a4a4a;
                            &:hover{
                                color: #CA4D4D;
                            }
                        }
                    }
                    .rating-box{
                        .ratings{
                            background: url(/images/useroproduct_rating_blank_starnline.gif) repeat-x scroll 0 0 transparent;
                            float: left;
                            height: 13px;
                            margin: 2px 5px 0 0;
                            width: 69px;
                            .rating-star{
                                background: url(/images/product_rating_full_star.gif) repeat-x scroll 0 0 transparent;
                                height: 13px;
                            }
                        }
                    }
                    .tacgia {
                        margin: 0 0 3px;
                        > a {
                            font-weight: bold;
                            color: red;
                        }
                    }
                    .audio-info {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: block;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

.box-comic-swordplay{
    margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 991px){
    .box-books{
        .books{
            .book-item{
                flex: 1 1 33%;
                max-width: 33%;
            }
        }
    }
}
@media (max-width: 767px) {
    .box-books{
        .books{
            .book-item{
                flex: 1 1 50%;
                max-width: 50%;
            }
        }
    }
}