.box-breadcrumb{
    border-color: #ebebeb;
    border-top: 1px solid #ebebeb !important;
    margin-bottom: 35px!important;
    background: linear-gradient(to right, rgba(224,224,224,1) 0%, rgba(122,118,104,1) 100%) !important;
    .breadcrumb{
        display: flex;
        justify-content: flex-end;
        padding: 12px 0;
        >li{
            >a{
                color: #fff;
            }
            &:not(:first-child)::before{
                padding: 0 10px;
                color: #ccc;
                content: "/\00a0";
            }
        }
    }
}