.box-comment{
    .wrapper{
        .content{
            margin-right: 20px;
        }
        .sidebar{
            flex: 0 0 40%;
            max-width: 40%;
            width: 40%;
            &.sidebar-right {
                padding-left: 0;
            }
        }
    }
}
.box-comment{
    .content{
        .comment-header{
            display: flex;
            justify-content: space-between;
            background: #eaeaea;
            color: #444;
            line-height: 35px;
            padding: 0 15px;
            .title{
                color: #444;
                font-weight: bold;
                span{
                    font-weight: normal;
                }
            }
            .sort{
                >a{
                    margin-left: 10px;
                    line-height: 35px;
                    display: inline-block;
                    padding: 0 10px;
                    font-weight: bold;
                    color: #7b4f33;
                    &.active{
                        background: #7b4f33;
                        color: #fff;
                    }
                }
            }
        }
        .comment-list{
            .comment-item{
                display: flex;
                padding: 15px 15px 0;
                font-size: 16px;
                .avatar{
                    margin-right: 10px;
                    img{
                        width: 60px;
                        height: 60px;
                        background-size: 60px;
                        border-radius: 10px;
                        margin-bottom: 5px;
                    }
                }
                .main-cmt, .sub-cmt{
                    .title{
                        .audioname{
                            color: #c77d35;
                            font-weight: bold;
                            margin-bottom: 3px;
                        }
                        .author{
                            color: #888;
                        }
                        .date-comment{
                            font-size: 14px;
                            color: #a2a2a2;
                        }
                        .rating-box{
                            .ratings{
                                background: url(/images/useroproduct_rating_blank_starnline.gif) repeat-x scroll 0 0 transparent;
                                height: 13px;
                                margin: 2px 5px 0 0;
                                width: 69px;
                                .rating-star{
                                    background: url(/images/product_rating_full_star.gif) repeat-x scroll 0 0 transparent;
                                    height: 13px;
                                }
                            }
                        }
                    }
                    .content-cmt{
                        padding: 7px 0 10px;
                    }
                    .action {
                        text-align: right;
                        line-height: 30px;
                        color: #dbdbdb;
                        a{
                            padding: 0 5px;
                            color: #004a8a;
                            font-size: 14px;
                            i{
                                color: #b2b2b2;
                                margin-right: 5px;
                            }
                            span{
                                color: #b2b2b2;
                                margin-right: 5px;
                            }
                        }
                    }
                    .reply{
                        display: none;
                        .box-btn{
                            display: flex;
                            justify-content: flex-end;
                            button{
                                background: #be6301;
                                border: 1px solid #a55600;
                                color: #fff;
                                &:hover{
                                    box-shadow: 0 1px 0 0 rgb(0 0 0);
                                    background: #323436 !important;
                                }
                            }
                        }
                    }
                }
                .comment-right{
                    flex-grow: 1;
                    .sub-cmt{
                        display: flex;
                        border-top: 1px solid #eeeeee;
                        margin-top: 5px;
                        padding-top: 5px;
                        .avatar{
                            margin-right: 10px;
                            img{
                                width: 60px;
                                height: 60px;
                                background-size: 60px;
                                border-radius: 10px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .comment-post{
        padding: 30px;
        border: 1px solid #f7f7f7;
        overflow: hidden;
        box-shadow: 0px 2px 22px -10px rgb(199 199 199);
        .cmt-title{
            margin: 0 0 10px;
            line-height: 21px;
            font-weight: 300;
            letter-spacing: 0.5px;
            a{
                color: #660000;
            }
        }
        .box-frm-cmt{
            display: flex;
            .avatar{
                flex: 0 0 28%;
                max-width: 28%;
                width: 28%;
                >img{
                    width: 80px;
                    height: 80px;
                }
            }
            .frm-cmt{
                flex-grow: 1;
                .stars{
                    padding: 10px 0;
                    font-size: 25px;
                    .checked {
                        color: orange;
                    }
                }
                textarea{
                    margin: 5px 0 10px 0;
                }
                .btn-submit{
                    padding: 12px 16px 10px!important;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: #eee;
                    box-shadow: 0 1px 0 0 #065296;
                    font-weight: bold;
                    background-color: #5cb85c;
                    border-color: #4cae4c;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .box-comment{
        .wrapper{
            flex-direction: column;
            .content{
                border: 1px solid #f7f7f7;
                box-shadow: 0px 2px 22px -10px rgb(199 199 199);
                margin-bottom: 20px;
                margin-right: 0;
            }
            .sidebar{
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                border: 1px solid #f7f7f7;
                box-shadow: 0px 2px 22px -10px rgb(199 199 199);
            }
        }
    }
}
@media (max-width: 420px) {
    .box-comment {
        .comment-post {
            .box-frm-cmt {
                .avatar {
                    flex: 0 0 35%;
                    max-width: 35%;
                    width: 35%;
                }
            }
        }
    }
}