// Variables
// --------------------------

$fa-font-path:        "/fonts" !default;
$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.7.0" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;

$fa-var-search: "\f002";
$fa-var-angle-down: "\f107";
$fa-var-external-link: "\f08e";
$fa-var-clock-o: "\f017";
$fa-var-list-alt: "\f022";
$fa-var-upload: "\f093";
$fa-var-headphones: "\f025";
$fa-var-thumbs-up: "\f164";

$fa-var-caret-down: "\f0d7";
$fa-var-bars: "\f0c9";
$fa-var-star: "\f005";
$fa-var-angle-left: "\f104";
$fa-var-angle-right: "\f105";
$fa-var-flag: "\f024";
$fa-var-phone: "\f095";
$fa-var-home: "\f015";
$fa-var-heart: "\f004";
$fa-var-heart-o: "\f08a";
$fa-var-plus-circle: "\f055";
$fa-var-sign-in: "\f090";
$fa-var-user-plus: "\f234";
