.footer{
    color: #fff;
    background: rgb(152,102,69);
    background: radial-gradient(circle, rgba(152,102,69,1) 0%, rgba(99,61,36,1) 100%);
    padding: 10px 0;
    .copyright{
        p{
            font-size: 12px;
            margin-bottom: 0;
            line-height: 24px;
            color: #fff;
            padding-bottom: 2px;
            text-align: center;
        }
    }
}