.category{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    >div{
        flex: 1;
        // padding: 0 15px;
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
    .cate-item {
        display: block;
        position: relative;
        z-index: 2;
        &__icon{
            padding: 0px;
            width: 100px;
            height: 100px;
            border: 2px solid #dbdbdb;
            border-radius: 999px;
            position: absolute;
            // left: 50%;
            // top: 0;
            // margin-left: -49px;

            // right: 30px;
            // top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            >a{
                color: #666;
                >img{
                    max-width: 100%;
                    height: auto;
                    border-radius: 50%;
                }
            }
        }
        &__text{
            border: 1px solid #dbdbdb;
            min-height: 140px;
            background: #fff;
            padding: 40px 25px 10px 25px;
            margin-top: 35px;
            margin-bottom: 20px;
            border-radius: 4px;
            box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 12%);
            >h3{
                font-size: 18px;
                padding-top: 33px;
                text-align: center;
                >a{
                    font-weight: bold;
                    color: #666;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .category{
        flex-wrap: wrap;
        >div{
            flex: unset;
            width: 31%;
            margin-right: 30px;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .category{
        flex-wrap: wrap;
        >div{
            flex: unset;
            width: 47%;
            margin-right: 40px;
            &:nth-child(even) {
                margin-right: 0;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .category{
        flex-wrap: wrap;
        >div{
            flex: unset;
            width: 47%;
            margin-right: 30px;
            &:nth-child(even) {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 575px){
    .category{
        flex-wrap: wrap;
        >div{
            flex: unset;
            width: 100%;
            margin-right: 0;
        }
    }
}