// Base
@import "../../bases/reset";
@import "../../bases/font";
@import "../../bases/variables";
@import "../../bases/base";
@import "../../bases/card";
@import "../../bases/grid";
@import "../../bases/button";
@import "../../bases/helper";
@import "../../bases/form";
@import "../../bases/table";
@import "../../bases/text";
@import "../../bases/common";

// Plugin
@import "../../icon/font-awesome/scss/font-awesome";
@import "../../icon/line-awesome/scss/line-awesome";
@import "~owl.carousel/dist/assets/owl.carousel.min.css";
@import "~owl.carousel/dist/assets/owl.theme.default.min.css";

// Component global
@import "../../components/header/header_default";
@import "../../components/footer/footer_default";

// Components
@import "../../components/breadcrumb";
@import "../../components/box_book_title";
@import "../../components/box_book";

//Include
.sort-product{
    text-align: right;
    margin: 10px;
    select{
        height: 30px;
        width: 150px;
        padding: 0;
        color: #777;
    }
}