.top-line{
    background: #6f472c;
    line-height: 30px;
    color: #6f472c;
    text-align: right;
    a{
        color: #fff;
        &:hover{
            color: #CA4D4D;
        }
    }
}
.header-top{
    .hd-top-content{
        display: flex;
        height: 90px;
        .logo{
            flex: 0 0 40%;
            display: flex;
            align-items: center;
            >a{
                >img{
                    height: 37px;
                    width: auto;
                }
            }
            
        }
        .main-menu{
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            >li {
                position: relative;
                >a{
                    font-size: 14px;
                    display: block;
                    color: #565656;
                    padding: 35px 18px;
                    i{
                        margin-left: 5px;
                    }
                }
                >.dropdown-menu {
                    position: absolute;
                    list-style: none;
                    display: none;
                    top: 90px;
                    left: 0;
                    border-top: 2px solid #CA4D4D;
                    width: 220px;
                    padding: 10px 0px;
                    background: #FFFFFF;
                    box-shadow: 0 20px 45px rgb(0 0 0 / 13%);
                    >li{
                        >a{
                            display: block;
                            font-weight: 300;
                            padding: 8px 18px 8px 19px;
                            font-size: 13px;
                            border-bottom: 1px solid #f7f7f7;
                        }
                        &:hover{
                            background: #f5f5f5;
                            >a{
                                color: #CA4D4D;
                            }
                        }
                        &:last-child{
                            >a{
                                border-bottom: none;
                            }
                        }
                    }
                }
                &:hover > a {
                    color: #CA4D4D;
                }
                &:hover > ul.dropdown-menu {
                    z-index: 100;
                    display: block;
                }
            }
            .ip-search{
                cursor: pointer;
            }
        }
        .mb-menu{
            display: none;
        }
    }
}
.b-mega-menu{
    background: #FFF;
    box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
    .mega-menu{
        display: flex;
        >div{
            flex: 0 0 16%;
            padding: 0 15px;
            &:last-child{
                flex-grow: 1;
            }
            &:hover{
                background-color: #660000;
            }
        }
        .col-1{
            background-color: #1e73be;
        }
        .col-2{
            background-color: rgba(204,116,2,1);
        }
        .col-3{
            background-color: #0163c2;
        }
        .col-4{
            background-color: #19910a;
        }
        .col-5{
            background-color: #CA4D4D;
        }
        .col-6{
            background-color: #a70070;
        }
        a{
            line-height: 40px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            >img{
                float: left;
                margin-right: 10px;
                width: 35px;
                height: 35px;
                margin-top: 2px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .header-top{
        box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
    }
    .b-mega-menu{
        display: none;
    }
}

@media (max-width: 991px) {
    .header-top{
        .hd-top-content{
            justify-content: space-between;
            .main-menu{
                display: none;
            }
            .mb-menu{
                display: flex;
                align-items: center;
            }
        }
    }
}
@media (max-width: 480px) {
    .header-top{
        .hd-top-content{
            .logo{
                flex: 0 0 70%;
                >a{
                    >img{
                        width: 100%;
                    }
                }
                
            }
        }
    }
}